:root {
    --roxo: #6d3c52;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


section {
    padding: 2rem 9%;
}

/*---------------INICIO MENU------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}


header .logo span {
    color: var(--roxo);
}


header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #1b0c1a;
}


header .navbar a:hover {
    color: var(--roxo);
}

header #risquinhos {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}
/*---------------inicio menu escolhas------------*/
.icons .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  .icons .nav-links li {
    position: relative;
  }
  .icons .nav-links a {
    color: #441F42;
    text-decoration: none;
    font-size: 20px;
  }
  .icons .nav-links a:hover{
    color: #7d236a;
  }
  .icons .nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3E2C3A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .icons .nav-links .dropdown-content a {
    color: #EAD7E2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .icons .nav-links .dropdown-content a:hover {
    background-color: #E6D4E0;
  }
  .icons .nav-links li:hover .dropdown-content {
    display: block;
  }
  /*---------------fim menu escolhas------------*/

/*---------------FIM MENU------------*/

/*---------------INICIO HOME------------*/
.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(tela.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}


.home .content h3 {
    font-size: 6rem;
    color: #333;
}


.home .content span {
    font-size: 3.5rem;
    color: var(--roxo);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: #1b0c1a;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3rem;
    background: #333;
    color: #E6D4E0;
    padding: 1.5rem 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.home .btn:hover {
    color: var(--roxo);
    background: #ffffff;
}

/*---------------FIM HOME------------*/

/*---------------INICIO SOBRE------------*/

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem ;
    background: rgba(255, 51, 153, .05);
    margin-top: 10rem;
}

.heading span {
    color: #6d3c52;
}

.sobre .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;

}

.sobre .row .imagem {
    flex: 1 1 40rem;
    position: relative;

}

.sobre .row .imagem img {
    width: 100%;
    border: 1.5rem solide #000000;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover ;
}

.sobre .row .content {
    flex: 1 1 40rem;
    margin-left: 1.5rem;
}

.sobre .row .imagem h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #000000;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.sobre .row .content h3 {
    font-size: 3rem;
    color: #333;

}

.sobre .row .content p {
    font-size: 1.7rem;
    color: #765d67;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-right: 20rem;

}

/*-----------------------FIM SOBRE---------------------*/

/*---------------INICIO BARRA DE PESQUISA--------------*/
  .barrapesq {
    position: relative;  
    background-color: #E6D4E0;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.search-container input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-container button {
    background-color: #5C2D50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.search-container button:hover {
    background-color: #7d236a;
}
  /*-------------FIM BARRA DE PESQUISA-------*/

/*---------------INICIO ICONES------------*/

.servicons {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem ;
    background: rgba(255, 51, 153, 0.06);
    margin-top: 20rem;
}

.servicons span{
    color: #6d3c52;

}

.iconis-conteiner{
    background-color: #E6D4E0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.iconis-conteiner .iconis{
background: #fff;
border: .1rem solid rgba(0, 0, 0, .1);
padding: 2rem;
display: flex;
align-items: center;

border-radius: 2rem;
}

.iconis-conteiner .iconis img{
    width:5rem;
    margin-right: 1rem;
}

.iconis-conteiner .iconis h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 2rem;
   
}

.iconis-conteiner .iconis span{
    color: #6d3c52;
    font-size: 1.3rem;
}

/*-------------------FIM ICONES---------------*/

/*---------------INICIO AVALIAÇÕES------------*/

.avaliaçao{
    margin-top: 25rem;
}

.avaliaçao .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
}

.avaliaçao .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0, 0, 0, .1);
}


.avaliaçao .box-container .box .strelas i{
    color: #eba818;
    font-size: 2rem;
}

.avaliaçao .box-container .box p{
    color: #765d67;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
}

.avaliaçao .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;

}

.avaliaçao .box-container .box img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.avaliaçao .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}

.avaliaçao .box-container .box .user span{
    font-size: 1.5rem;
    color: #765d67;
}


/*-------------------------------FIM AVALIAÇÕES----------------------*/

/*-------------------------------INICIO CONTATO----------------------*/
.contato .row .btn{
    background-color: #E6D4E0;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3rem;
    background: #ffffff;
    color: #441F42;
    padding: 1.5rem 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.contato .row .btn:hover {
    color:#ffffff ;
    background: #b957b4;
}
.contato .heading{
    margin-top: 30rem;
}

.contato .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5;
    align-items: center;
    
}

.contato .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0px -10px 100px #b957b4;
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #441F42;
    border-radius: .5rem;
    margin-left: 10rem;
}

.contato .row .imagem{
    flex: 1 1 40rem;
}

.contato .row .imagem img{
    width: 100%;
    margin-left: 10rem;
}

.contato .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #441F42;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contato .row form .box:focus{
    border-color: var(--roxo);
}

.contato .row form textarea{
    height: 15rem;
    resize: none;
}
/*-------------------------------FIM CONTATO----------------------*/

/*-------------------------------INICIO FOOTER----------------------*/

.footer{
    background-color: #e6d4e0b2;
    margin-top: 10rem;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: #6d3c52;
    text-decoration: underline;
}

.footer .creditos{
    text-align: center;
}


/*-------------------------------FIM FOOTER----------------------*/

/*Midia quer*/
@media(max-width:991px) {


    html {
        font-size: 55%;
    }


    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media(max-width:768px) {


    header .fa-bars {
        display: block;
    }


    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    header #risquinhos:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .iconis-conteiner .iconis h3{
        font-size: 2.5rem;
       
    }
    
    .iconis-conteiner .iconis span{
        color: #6d3c52;
        font-size: 1.7rem;
    }
}


@media(max-width:450px) {


    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

}